body {
}

.pagination {
    float: right;
}

.table {
    width: 100%;
    margin-bottom: 20px;
}

table thead tr th {
    text-align: center;
}

tbody td:first-child
thead th:first-child {
    width: 150px;
} 

#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    max-width: 400px;
    float: right;
}

    #custom-search-input input {
        border: 0;
        box-shadow: none;
    }

    #custom-search-input button {
        margin: 2px 0 0 0;
        background: none;
        box-shadow: none;
        border: 0;
        color: #666666;
        padding: 0 8px 0 10px;
        border-left: solid 1px #ccc;
    }

        #custom-search-input button:hover {
            border: 0;
            box-shadow: none;
            border-left: solid 1px #ccc;
        }

    #custom-search-input .glyphicon-search {
        font-size: 15px;
    }
